﻿@model DormitorySite.Models.InventoryModel
@{
	ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>

@if (Model.Inventory != null)
{
<div>
	<br />
	<h3>Add Inventory Item</h3>
	<br />
	Type:
	<select class="selectpicker" id="newType">
		@foreach (var inventoryType in Model.InventoryTypes)
		{
			<option value="@inventoryType.ID">@inventoryType.TypeName</option>
		}
	</select>
	<br /><br />
	Room:
	<select class="selectpicker" id="newRoom">
		@foreach (var roomNum in DormitorySite.Globals.RoomsNums)
		{
			<option value="@roomNum.Key">@roomNum.Value</option>
		}
	</select>
	<br /><br />
	<button class="btn btn-success" onclick="AddNewItem()">Add New Item</button>

	<br /><br />

</div>
	<table class="table-bordered table-striped table-condensed">
		<tr>
			<th>Type</th>
			<th>Room</th>
			<th>Description</th>
			<th>Remove</th>
		</tr>
		@foreach (var inventory in Model.Inventory)
		{
			<tr>
				<td>@inventory.InventoryType.TypeName</td>
				<td>
					<select @*class="selectpicker"*@ class="room" onchange="ChangeItemRoom(@inventory.ID, this.value)">
						@foreach (var roomNum in DormitorySite.Globals.RoomsNums)
						{
							<option @((inventory.Room == null && roomNum.Key == 0) || (inventory.Room != null && inventory.Room.ID == roomNum.Key) ? "selected=selected" : "") value="@roomNum.Key">@roomNum.Value</option>
						}
					</select>
				</td>
				<td>
					<input onchange="EditItemDescription(@inventory.ID, this.value)" id="description" class="form-control" />
				</td>

				<td style="text-align: center;"><button onclick="RemoveInventoryItem(@inventory.ID)" class="btn btn-danger">X</button></td>

			</tr>
		}
	</table>

	<script>
		function AddNewItem() {
			$.ajax({
				type: "POST",
				url: 'AddNewItem',
				data: { typeId: $('#newType').val(), roomId: $('#newRoom').val() },
				success: function (resultData) {
					// take the result data and update the div
					console.log(resultData.html)
				}
			});

			ReloadPage();
		}

		function RemoveInventoryItem(id) {
			$.ajax({
				type: "POST",
				url: 'RemoveInventoryItem',
				data: { id: id },
				success: function (resultData) {
					// take the result data and update the div
					console.log(resultData.html)
				}
			});

			ReloadPage();
		}

		function EditItemDescription(id, description) {
			$.ajax({
				type: "POST",
				url: 'EditItemDescription',
				data: { id: id, description: description },
				success: function (resultData) {
					// take the result data and update the div
					console.log(resultData.html)
				}
			});

			ReloadPage();
		}

		function ChangeItemRoom(id, roomId) {
			$.ajax({
				type: "POST",
				url: 'ChangeItemRoom',
				data: { id: id, roomId: roomId },
				success: function (resultData) {
					// take the result data and update the div
					console.log(resultData.html)
				}
			});
		}
	</script>
}

