﻿<style type="text/css">
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 150px
	}
</style>

<script>
	function ChangePaidUntil(personId, newDate) {
		console.log("Change");
		$.ajax({
			type: "POST",
			url: 'ChangePaidUntil',
			data: { id: personId, newDate: newDate },
			success: function (resultData) {
				// take the result data and update the div
				console.log(resultData.html)
			}
		});
	}
	$('#datetimepicker1').on('dp.change', function (e) { ChangePaidUntil() })
</script>

@model DormitorySite.Models.PeopleModel
@{
	/**/

	ViewBag.Title = "People";
}

<div>
	<br />
	<h3>Add Person</h3>
	<br />
	Name:<input id="newName" class="form-control" /><br />

	Role:
	<select class="selectpicker" id="newRole">
		@foreach (var role in Model.Roles)
		{
			<option value="@role.ID">@role.RoleName</option>
		}
	</select>
	<br /><br />
	Room:
	<select class="selectpicker" id="newRoom">
		@foreach (var roomNum in DormitorySite.Globals.RoomsNums)
		{
			<option value="@roomNum.Key">@roomNum.Value</option>
		}
	</select>
	<br /><br />

	<button class="btn btn-success" onclick="AddPerson()">Add Person</button>

	<br /><br />

</div>



<br /><br />
<button onclick="GetDebtors()" class="btn btn-primary">Get Debtors List</button><br /><br />

<h2>People</h2>

@if (Model.People != null)
{
	<table class="table-bordered table-striped table-condensed">
		<tr>
			<th>Name</th>
			<th>Role</th>
			<th>Room</th>
			<th>Paid Until</th>
			<th>Remove</th>
		</tr>
		@foreach (var person in Model.People)
		{
			<tr>
				<td>@Html.ActionLink(person.FirstName + " " + person.LastName, "Person", "Home", new { id = person.ID }, null)</td>
				<td>@person.Role.RoleName</td>
				<td>
					<select @*class="selectpicker"*@ class="room" onchange="ChangePersonRoom(@person.ID, this.value)">
						@foreach (var roomNum in DormitorySite.Globals.RoomsNums)
						{
							<option @((person.Room == null && roomNum.Key == 0) || (person.Room != null && person.Room.ID == roomNum.Key) ? "selected=selected" : "") value="@roomNum.Key">@roomNum.Value</option>
						}
					</select>
				</td>
				<td>
					<div class="row">
						<div class='col-sm-3'>
							<div class="form-group">
								<div class='input-group date' id='datetimepicker-@person.ID'>
									<input type='text' style="width:180px" class="form-control" id="newDate-@person.ID" value="@(person.PaidUntil.HasValue ? person.PaidUntil.Value.ToString(Globals.DateFormat) : "Never paid")" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
						<script type="text/javascript">
							$(function () {
								$('#datetimepicker-@person.ID').datetimepicker({
									format: DateFormat
								});
								$('#datetimepicker-@person.ID').on('dp.change', function (e) { ChangePaidUntil(@person.ID, $('#newDate-@person.ID').val()) })
							});
						</script>
					</div>
				</td>

				<td style="text-align: center;"><button onclick="RemovePerson(@person.ID)" class="btn btn-danger">X</button></td>

			</tr>
		}
	</table>

	<script>

		function GetDebtors() {
			$.ajax({
				type: "GET",
				url: 'GetDebtors',
				success: function (resultData) {
					// take the result data and update the div

					var doc = new jsPDF()

					doc.text(transliterate(resultData), 10, 10)
					doc.save('DebtorsList.pdf')
				}
			});
		}

		function AddPerson() {
			$.ajax({
				type: "POST",
				url: 'AddPerson',
				data: {
					name: $('#newName').val(),
					roleId: $('#newRole').val(), roomId: $('#newRoom').val()
				},
				success: function (resultData) {
					// take the result data and update the div
					console.log(resultData.html)
				}
			});

			ReloadPage();
		}

		function RemovePerson(id) {
			$.ajax({
				type: "POST",
				url: 'RemovePerson',
				data: { id: id },
				success: function (resultData) {
					// take the result data and update the div
					console.log(resultData.html)
				}
			});

			ReloadPage();
		}

		function ChangePersonRoom(id, roomId) {
			$.ajax({
				type: "POST",
				url: 'ChangePersonRoom',
				data: { id: id, roomId: roomId },
				success: function (resultData) {
					// take the result data and update the div
					console.log(resultData.html)
				}
			});
		}
	</script>
}


