﻿@model DormitorySite.Models.Person
@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<h2>@ViewBag.Title</h2>

@if (Model != null)
{
<ul class="list-group">
	<li class="list-group-item active">Person Information</li>
	<li class="list-group-item">Role: <b>@Model.Role.RoleName</b></li>

	<li class="list-group-item">
		Room: <b>@Model.Room.Floor@Model.Room.Room_</b>
	</li>

	<li class="list-group-item">Paid Until: <b>@(Model.PaidUntil.HasValue ? Model.PaidUntil.Value.ToString(Globals.DateFormat) : "None")</b></li>
</ul>
}
