﻿<style type="text/css">
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 150px
	}
</style>


@model DormitorySite.Models.RoomsModel
@{
	ViewBag.Title = "Rooms";
}

<h2>Rooms</h2>

@if (Model.Rooms != null && Model.InternetProviders != null)
{
	<table class="table-bordered table-striped table-condensed">
		<tr>
			<th>Floor</th>
			<th>#</th>
			<th>Provider</th>
			<th>Max Residents</th>
			<th>Residents</th>
			<th>Inventory</th>
			<th>Payment (rub)</th>
		</tr>
		@foreach (var room in Model.Rooms)
		{
			<tr>
				<td>@room.Floor</td>
				<td>@room.Room_</td>
				<td>
					<select class="selectpicker" onchange="ChangeRoomProvider(@room.ID, this.options[this.selectedIndex].value)">
						@foreach (var provider in Model.InternetProviders)
						{
							<option @(provider.Name == room.InternetProvider.Name ? "selected=selected" : "") value="@provider.ID">@provider.Name</option>
						}
					</select>
				</td>
				<td style="text-align:center">@room.ResidentsNum</td>

				<td>
					@foreach (var person in room.Persons)
					{
						@Html.ActionLink(person.FirstName + " " + person.LastName, "Person", "Home", new { id = person.ID }, null)<br>
					}
				</td>
				<td>@String.Join(", ", Model.Inventory.Where(x => x.RoomID == room.ID).GroupBy(x => x.InventoryType).OrderBy(x => x.Key.ID).Select(x =>  x.Key.TypeName + " - " + x.Sum(s => 1)).ToList())</td>
				<td>@Model.Inventory.Where(x => x.RoomID == room.ID && x.InventoryType.ElectricityTax.HasValue).Sum(x => x.InventoryType.ElectricityTax).Value.ToString("0.00")</td>
			</tr>
		}
	</table>

}

<script>
	$(document).ready(function () { //
		$('.selectpicker').selectpicker();
	});

	function ChangeRoomProvider(roomId, providerId) {
		$.ajax({
			type: "POST",
			url: 'ChangeRoomProvider',
			data: { roomId: roomId, providerId: providerId }
		});
	}
</script>

