﻿@model DormitorySite.Models.WorkShiftsModel
@{
	/**/

	ViewBag.Title = "WorkShifts";
}

<h2>WorkShifts</h2>

@if (Model != null)
{
	<table class="table-bordered table-striped table-condensed">
		<tr>
			<th>Employee</th>
			<th>Role</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Remove</th>
		</tr>
		@foreach (var workShift in Model.WorkShifts.OrderBy(x => x.StartTime))
		{
			<tr>
				<td>@Html.ActionLink(workShift.Person.FirstName + " " + workShift.Person.LastName, "Person", "Home", new { id = workShift.EmployeeID }, null)</td>
				<td>@workShift.Person.Role.RoleName</td>
				<td>@workShift.StartTime.ToString(Globals.DateTimeFormat)</td>
				<td>@workShift.EndTIme.ToString(Globals.DateTimeFormat)</td>
				<td style="text-align: center;"><button onclick="RemoveWorkShift(@workShift.ID)" class="btn btn-danger">X</button></td>

			</tr>
		}
	</table>
	<br>

	<h3>Hire an employee:</h3>
	<br>

	<div>
		Employee:
		<select class="selectpicker" name="employeeId" id="employeeId">
			@foreach (var employee in Model.Employees)
			{
				<option value="@employee.ID">@employee.Role.RoleName - @employee.FirstName @employee.LastName</option>
			}
		</select>
		<br><br>

		Start Time:
		<div class="row">
			<div class='col-sm-3'>
				<div class="form-group">
					<div class='input-group date' id='datetimepicker1'>
						<input type='text' class="form-control" name="startTime" id="startTime" />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(function () {
					$('#datetimepicker1').datetimepicker({
						format: DateTimeFormat
					});
				});
			</script>
		</div>

		<br>

		End Time:
		<div class="row">
			<div class='col-sm-3'>
				<div class="form-group">
					<div class='input-group date' id='datetimepicker2'>
						<input type='text' class="form-control" name="endTime" id="endTime"/>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(function () {
					$('#datetimepicker2').datetimepicker({
						format: DateTimeFormat
					});
				});
			</script>
		</div>

	</div>

	<button class="btn btn-success" onclick="PostWorkShift()">Add Work Shift</button>

	<script>
		$(document).ready(function () { //
			$('.selectpicker').selectpicker();
		});

		function PostWorkShift() {
			$.ajax({
				type: "POST",
				url: 'AddWorkShift',
				data: { employeeId: $('#employeeId').val(), startTime: $('#startTime').val(), endTime: $('#endTime').val() },
				success: function (resultData) {
					// take the result data and update the div
					console.log(resultData.html)
				}
			});

			ReloadPage();
		}
		function RemoveWorkShift(id) {
			$.ajax({
				type: "POST",
				url: 'RemoveWorkShift',
				data: { id: id },
				success: function (resultData) {
					// take the result data and update the div
					console.log(resultData.html)
				}
			});

			ReloadPage();
		}
	</script>
}
